$primary-color: #ffffff;
$secondary-color: #2f2e2f;
$third-color: #811818;
$green-dark: #50a06c;
$green: #63c85d;
$gray-dark: #6b6b6b;
$gray: #bdbdbd;
$background-header: #1e1e1e;
$boder-color: #96e16b;
$gray-blur: #727272;
$black-dark: #0d0c0c;
$white-blur: #eeeeee;
$green-banana:#9be86f;
$background-footer: #1c1c1c;
$dark: #000000;
$font-primary: "Pacifico", cursive;
$font-secondary: "museo-sans", helvetica, sans-serif;
$font-third: sans-serif;
$font-fourth: "Playball", cursive;
$wrapper: 1441px;
